<html>

  <form method=post action=names>
    <ul>

      <li>
        <p>Player One</p>
        <input type=text name=player_1_name> </input>
      </li>

      <li>
        <p>Player Two</p>
        <input type=text name=player_2_name> </input>
      </li>

      <input type=submit value="Submit" ></input>

    </ul>
  </form>

</html>
