<html>
<h1>Battle!</h1>
<h2>Sign in to play</h2>
  <form method="post" action="/play">
    <ul>

      <li>
        <h4>Player One</h4>
        <input type="text" name="player_1_name">
      </li>

      <li>
        <h4>Player Two</h4>
        <input type="text" name="player_2_name">
      </li>

      <input type="submit" value="Submit" >

    </ul>
  </form>

</html>
